html {
  color: #ddd;
  background-color: #000
}

::-moz-selection {
  background: #4c2b03;
}

::selection {
  background: #4c2b03;
}

hr {
  border-top-color: #333;
}

.browserupgrade {
  background: #333;
  color: #fff;
}

.header {
  border-bottom-color: #555;
}

.footer {
  border-top-color: #555;
}

/* Style the header links */
.header a {
  color: white;
}

.footer a {
  color: #ddd;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #222;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: #e16f00;
  color: black;
}

@media print {
  *,
  *:before,
  *:after {
    color: #fff !important;
  }
  pre,
  blockquote {
    border-color: #666;
  }
}
