html {
  color: #222;
  background-color: #fff
}

::-moz-selection {
  background: #b3d4fc;
}

::selection {
  background: #b3d4fc;
}

hr {
  border-top-color: #ccc;
}

.browserupgrade {
  background: #ccc;
  color: #000;
}

.header {
  border-bottom-color: #aaa;
}

.footer {
  border-top-color: #aaa;
}

/* Style the header links */
.header a {
  color: black;
}

.footer a {
  color: black;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
  }
  pre,
  blockquote {
    border-color: #999;
  }
}
